extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post" enctype="multipart/form-data")
            label(for="file") Video File
            input(type="file", Value="Choose File", name="file", required=true, accept="video/*")
            input(type="text", placeholder="Title", name="title", required=true)
            input(type="textarea", placeholder="Description", name="desc", required=true)
            input(type="submit", Value="Upload Video")